<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>https://chemistryapp.herokuapp.com/</string>
	<key>LOGIN</key>
	<string>login</string>
	<key>SIGNUP</key>
	<string>signup</string>
	<key>GET_ALL_ELEMENT</key>
	<string>api/element</string>
	<key>GET_DETAIL_ELEMENT</key>
	<string>api/element/%@</string>
	<key>GET_ALL_USER</key>
	<string>api/user</string>
	<key>GET_DETAIL_USER</key>
	<string>api/user/%@</string>
	<key>UPDATE_USER</key>
	<string>api/user/%@</string>
	<key>DELETE_USER</key>
	<string>api/user/%@</string>
	<key>CHANGE_PASS</key>
	<string>api/user/changepassword</string>
</dict>
</plist>
